<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.caiwei.customui"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_blur_on_black_24dp"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".LayoutActivity"/>
        <activity android:name=".XferModeActivity"/>
        <activity android:name=".MaskFilterActivity"/>
        <activity android:name=".CanvasActivity"/>
        <activity android:name=".RevealActivity"/>
        <activity android:name=".SearchViewActivity"/>
        <activity android:name=".PaintActivity"/>
        <activity android:name=".PathActivity"/>
        <activity android:name=".PathMeasureActivity"/>
        <activity android:name=".SVGActivity"/>
        <activity android:name=".LPlusActivity"/>
        <activity android:name=".NewMaskFilterActivity"/>
    </application>

</manifest>